* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    height: 100vh; /* Full height of the viewport */
}


.lhs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 5% 20px 20px 20px;
    gap: 0%;
}

.rhs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    padding: 5% 10% 20px 20px;
    justify-content: start;
    gap: 8%;
}

.tp {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tp-image  {
    width: 80%;
    height: 95%;
}
.about-text {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.letters {
    width: 40%;
    height: 35%;
    margin: 0% -13%;
}

.rhs-1 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}

.rhs-title {
    line-height: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-family: sans-serif;
}

.rhs-text {
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 400;
}

.home-container {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    margin-bottom: -2%;
}

.home-button {
    height: 100%;
    width: 150%;
    border: solid 1px black;
    border-radius: 100px;
    padding: 10px;
    display: flex;
    justify-content: center;
    transform: translateX(-20%);

}

.home-button:hover {
    cursor: pointer;
}

.mobile-home-button {
   display: none;
} 